/*----------------------------------------- Gestion des polices -----------------------------------------*/
@font-face {
    font-family: "Panthera";
    src: url("polices/panthera.otf");
}
@font-face {
    font-family: "BEYNO";
    src: url("polices/beyno-regular.otf");
}
@font-face {
    font-family: "Wakanda-forever";
    src: url("polices/wakanda-forever-regular.ttf");
}
@font-face {
    font-family: "Cantarell";
    src: url("polices/Cantarell-Regular.ttf");
}
.Panthera_font, h1{
    font-family: Panthera, Arial, Helvetica, sans-serif;
}
.Beyno_font, h2{
    font-family: BEYNO, system-ui, serif;
}
.Wakanda-forever_font, span{
    font-family: Wakanda-forever, serif;
}
.Cantarell_font, p{
    font-family: Cantarell, serif;
}
/*------------------------------------------------------------------------------------------------------*/

/*----------------------------------------- -Entête des pages- -----------------------------------------*/
body{
    color: #ffffff;
    background: rgb(15,25,43);
    background: linear-gradient(95deg, rgba(15,25,43,1) 0%, rgba(13,13,15,1) 29%, rgba(34,48,73,1) 83%, rgba(96,109,135,1) 100%); 
}
section{
    margin: 5%;
}
#Head{
    border: 3px rgb(196, 196, 196, .4) solid;
}
#Intro{
    width: 50%;
    border: 3px rgb(196, 196, 196, .4) solid;
    background-repeat: no-repeat;
}
h1, h2{
    color: #9E91B7;
}
h1{
    margin-bottom: -10px;
    font-size: 48px;
}
nav#Presentation_personnages{
    display: flex;
    border: 3px rgb(196, 196, 196, .4) solid;
    align-items: center;
    margin-top: 0%;
    border: 3px rgb(196, 196, 196, .4) solid;
}
nav figure{
    display: flex;
    margin: 0px;
    align-items: center;
    width: 70%;
    height: 5%;
    justify-content: space-between;
    border: 1.5px #ffffff solid;
}
header{
    flex-direction: column;
}
#navigation{
    display: flex;
    justify-content: space-between;
    border: 3px rgb(196, 196, 196, .4) solid;
}
#Social_N_ico{
    display: flex;
    border: 3px rgb(196, 196, 196, .4) solid;
    width: min-content;
    flex-direction: column;
}
a:visited, a{
    color: #ffffff;
    text-decoration: none;
}
a#page_actuelle{
    color: #9E91B7;
    text-decoration: underline;
}
img[alt="Sayna_X_Marvel"]{
    height: 27px;
    width: 120px;
}
img[alt="Image principale du panthère"]{
    width: 100%;
}
/*------------------------------------------------------------------------------------------------------*/

/*---------------------------------------- -Corps de la page- -------------------------------------*/
.contenu_principale{grid-area:Texte;}
#biographie{
    grid-area:bio;
}
#Corps{
    display: grid;
    grid-template-areas: "Texte bio";
}
#info_bio{
    background-color: #ffffff;
}
/*------------------------------------------------------------------------------------------------------*/
